
body{
    background-color: rgb(57, 55, 55);
    text-align: center;
    justify-content: center;
    color: gray;
}



input{
    border: solid red 2px;
}

label{
    background-color: blanchedalmond;
    color: black;
}


.divButton{
    justify-content: center;
    text-align: center;
}
